

.banner{
	color: blue;
	margin-bottom : 2%;
}

.uploadWel{
	color: green;
	margin-bottom : 1%;
}



body{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	

}

#uploadButton{
font-weight: bold;
}

#controles{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#controle1{
   height: 50px;
}

#controle2{
	margin-left: auto;
	height: 38px;
	margin-top: 15px;
	
}

#download{
	margin-left: 90%;
}


#sumaryPages{
	display: inline-flex;
	color: lightseagreen;
	font-size: 25px;
	column-gap: 5px;
}

#btnBack{
   margin-right: 10px;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

 th, td {
  border:1px solid black;
}
   
